
body {
    background-image: url("http://files.all-free-download.com//downloadfiles/wallpapers/1366_768/selena_gomez_166_14990.jpg");
font-family: Comic Sans MS;margin: 0;
}

h1 {
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:22px
padding:30px
}